<p>
  <strong>name:</strong>
  <%= @employee.name %>
</p>
<p>
  <strong>designation:</strong>
  <%= @employee.designation %>
</p>
<p>
  <strong>department:</strong>
  <%= @employee.department %>
</p>
<p>
  <strong>pan:</strong>
  <%= @employee.PAN %>
</p>
<p>
  <strong>pf:</strong>
  <%= @employee.PF %>
</p>
<p>
  <strong>email:</strong>
  <%= @employee.email %>
</p>
