<p id="notice"><%= notice %></p>

<h1>import/import and export data</h1>
<table>
  <thead>
    <tr>
      <th>select company</th>
      <%# raise @company.inspect %>
      <!-- <th>select date</th> -->
      <th>select month</th>
      <th>select year</th>
      <th>upload only excel file</th>
    </tr>
  </thead>
  <tbody>
        <td><%= select_tag "company_id", options_from_collection_for_select(@company, "id", "name") %><%# company.name %></td>
        <%# select_tag "date", options_from_collection_for_select(@company, "created_at", "created_at") %>
        <td><%= select_month(Date.today) %></td>
        <td><%= select_year(Date.today, start_year: 1992, end_year: 2007)%></td>
        <td><%= link_to 'upload excel file ', new_import_path %></td>
        
 
  </tbody>
</table>