<p id="notice"><%= notice %></p>
<%= button_to 'Download a PDF', export_path, method: :get %>
<%= button_to 'send Email', send_email_path, method: :post %>
<table>
	<thead>
		<th>/</th>
	</thead>
	<tbody>
		<% @salary.each do |salary| %>
		<tr>
		<% salary.salary_details.each do |key, value| %>
		<td>
			<b><%= "#{key}" %></b>
		</td>
		<td>
			<b><%= "#{value}" %></b>
		</td>
		<% end %>
		</tr>
		<% end %>
	</tbody>
</table>