<p id="notice"><%= notice %></p>
<%= form_tag 'companies_path', multipart: true do %>
  <label for="file">File to Upload</label> <%= file_field_tag "file" %>
  <%# form.hidden_field :company_id, :value => @company.id%>
  <%# form.hidden_field :company_id, :value => @company.id%>
  <%= submit_tag %>
<% end %>
<%# link_to 'Upload excel file', new_import_path %>

<p>
  <strong>name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>address:</strong>
  <%= @company.address %>
</p>
<p>
  <strong>cin:</strong>
  <%= @company.cin %>
</p>
<p>
  <strong>phone:</strong>
  <%= @company.phone %>
</p>
<p>
  <strong>website:</strong>
  <%= @company.website %>
</p>
<p>
  <strong>email:</strong>
  <%= @company.Email_id %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
