<%# form_with(model: @company, local: true) do |form| %>
<%# form_for(@company,:url => company_path(@company), :method => 'post')do |f| %>
<%# form_with(:url => company_path(@company), :method => ‘post’) do | f | %>
<%= form_with url: company_index_path, method: :post do |form| %>
  
  <p>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <p>
  <p>
  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <p>   
 <p>
  <div class="field">
    <%= form.label :cin %>
    <%= form.text_field :cin %>
  </div>
  <p>   
  <p>
  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>
  <p> 
  <p>
  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>
  <p>   
  <p>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :Email_id %>
  </div>
  <p>       

  <div class="actions">
    <%= form.submit %>
  </div>
</p>
<% end %>