<h1>hello</h1>
<%= form_with(model: company, local: true) do |form| %>
<%# form_for(@company,:url => company_path(@company), :method => 'post')do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
</p>
<p>
  <div class="actions">
    <%= form.submit %>
  </div>
</p>
<% end %>
