<p id="notice"><%= notice %></p>

<h1>Company</h1>
<%= link_to 'Download as Excel',company_path(format: :xlsx) %>
<%= link_to 'Upload from Excel',new_company_import_path %>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>address</th>
      <th>cin</th>
      <th>phone</th>
      <th>website</th>
      <th>Email_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.address %></td>
        <td><%= company.cin %></td>
        <td><%= company.phone %></td>  
        <td><%= company.website %></td> 
        <td><%= company.Email_id %></td>  
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><td><%= button_to 'Delete', company_path(company), method: :delete, data: {confirm: "Are you sure?"} %></td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_company_path %>

